.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.image {
  width:200px;
  height:200px;
  background-size: cover;
}

.nav {
  width: 100%;
  height: 45px;
  background-color: #0b98de;
  border-radius: 10px;
}

  .nav_item {
    display: block;
     float: left;
     font-family: sans-serif;
    font-size: 9px;
    color: white;
    background-color: #17b0cf;
    border: 1px solid #000;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-decoration: none;


  }

